doctype html
html(lang="en")
  head
    title= title
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="css/style.css", rel='stylesheet')

  body
    .container
      - var properties = ['Name', 'Phone', 'Email']
      .row
        h1= title
      .row
        each prop in properties
          label #{prop.toUpperCase()}:
          input(id= prop)
        button.btn#submit Add
      .row
        table.table.table-hover
          thead
            tr
              each prop in properties
                th= prop
              th: th
          tbody#contactList
            each contacts, index in people
              tr
                each prop in properties
                  td(class= prop, id= prop)= people[index][prop]
                td.edit.text-center
                  i.fa.fa-pencil-square-o.fa-lg(data-toggle="modal" data-target="#formModal")
                td.delete.text-center
                  i.fa.fa-trash-o.fa-lg

      #contactEdit.modal.fade(role = 'dialog')
        .modal-dialog
        .modal-content
          .modal-body
            | name: 
            br
            input#NameModal(type='text')
            br
            |             phone:
            br
            input#PhoneModal(type='text')
            br
            |             email: 
            br
            input#EmailModal(type='text')
            br
            br
            button(type="button" class="btn btn-default" data-dismiss="modal") Cancel 
            button#saveContact.btn.btn-primary(type='button', data-dismiss='modal') Save Contact
              

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='js/contacts/main.js')
            
